{% extends "layout.html" %}


{%block content%}
    <div class="navbar-third">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose By Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('home') }}">All </a>
              <a class="dropdown-item" href="{{ url_for('categories', category_name='Dress') }}">Dress</a>
              <a class="dropdown-item" href="{{ url_for('categories', category_name='Car') }}">Car</a>
              <a class="dropdown-item" href="{{ url_for('categories', category_name='Mobile') }}">Mobile</a>
            </div>
        </div>
          <div class="add-item">
                <a  class="btn" href="{{url_for('createitem')}}">Add Item</a>
          </div>
     </div>


    <div class="bidding-row">
        {% set count = namespace(value=items|length - 1) %}
        {% for i in range(items|length - 1,-1,-1) %}
            {% if items[i].id %}
            <div class="bidding-product">
                     <img src="{{ url_for('static', filename='data/items/' + items[i].item_image) }}" alt="">
                    <h3 >{{ items[i].name }}</h3>

                    <p class="desc">Description: {{ items[i].description }}</p>
                    <div>
                        {% if items[i].status %}
                            <h6>Status: <strong style="color: #3A7734">Active</strong></h6>

                        {% else %}
                            <h6>Status: <strong style="color:#9C1A1C">Not Active</strong></h6>

                        {%endif%}
                        <h6>Total Bids: {{itemBid[count.value]|length}}</h6>
                        {% set val = itemBid[count.value]|sort %}
                        {% if val|length == 1 %}
                            <h6>Starting Bid: {{ val[0] }} </h6>
                        {% else %}
                            <h6>Starting Bid: {{ val[::-1][1] }} </h6>
                        {% endif %}
                        <h6>Highest Bid: {{itemBid[count.value]|max }} </h6>

                        {% set itemID = items[i].id %}
                        <h6>Item ID: {{ itemID }}</h6>
                    </div>

                <button class="bidding-btn">
                    <a href="{{ url_for('addwatch', item_id= items[i].id ) }}">Add To WatchList</a>
                </button>

                {% if items[i].status == True %}
                    <button class="bidding-btn" > <a href="{{ url_for('bid', item_id= items[i].id ) }}">BID NOW</a></button>
                {% elif items[i].status == None %}
                    <h6>Biddimg is closed</h6>
                {% else %}
                    <h6>Biddimg is temporarily closed</h6>
                {% endif %}

            </div>
            {% set count.value = count.value - 1 %}
            {% endif %}
        {% endfor %}
    </div>

<div style="height: 100px"></div>






{%endblock content%}


